<div class="container">
  <div class="row">
    <div class="col"><h3><strong>Available Rooms: </strong><%= @rooms[:available] %></h3></div>
    <div class="col"><h3><strong>Engaged Rooms: </strong><%= @rooms[:engaged] %></h3></div>
  </div>
</div>